
__pycache__/
bin/
lib/


pyvenv.cfg

.prettierrc

get-docker.sh

share/man/man1/isympy.1

lib64

baseData/

data/

lineModels/

templates/index_.html

static/drawing.js

.README.md.kate-swp
tinqta.code-workspace
