<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>tinqta - webcam to scribble</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js" integrity="sha512-ovjLI1ZcZe6bw+ImQ21r+sv8q/Vwob2kq7tFidK6E1LWfi0T4uobbmpfEU1//a9h9o5Kkt+MnMWf6rWlg0EiMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{{ url_for('static', filename='jsfeat-min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
        <script src="https://unpkg.com/ml5@0.12.2/dist/ml5.js"></script>
        
        <!--
        <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='paper-full.js') }}"></script>
        <script src="{{ url_for('static', filename='jsfeat-min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{{ url_for('static', filename='edgeDetection.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
        
        -->

    </head>
    <body>
            <!--
            <button onclick="downloadSVG()">save</button>
            <canvas id="paperCanvas" width="640" height="480"></canvas>
            <video id="webcam" width="640" height="480" ></video>

            <canvas id="canvas" width="640" height="480"></canvas>
            <canvas id="background-canvas" width="640" height="480"></canvas>
            -->
            
            <webcam-generator></webcam-generator>
            <script type="module" src="{{ url_for('static', filename='WebcamGenerator.js') }}"></script>

    </body>
</html>

